#thanks-cont{
	font-family: Raleway;
	font-weight: 100;
    font-size: 10px;

}
#background {
	content: url("https://dl.dropboxusercontent.com/s/jp5cev7vi16pg8b/DSC_0064-870x490.jpg?dl=0");
	position: absolute;
	left: -7%;
	height: 100%;
	width: 110%;
	z-index: 1;
	position: fixed;
}

h1, #back{
	z-index: 100;
	font-size: 25px;
	font-weight: 100;
	line-height: 1.2;
	position: relative;
	padding-top: 120px;
	padding-bottom: 10px;
	color: white;
	text-align: center;
}
#thank-you {
	font-size: 50px
}
#sub-message{
	font-size:25px;
	font-weight: 100;
	padding-top: 20px;
	padding-bottom: 50px;
}
#back {
	padding-top: 5px;
	border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    width: 200px;
    margin: 0 auto;
}
